In [1]:
import numpy as n
r=int(input("enter radius: "))
area_of_circle=n.pi*r**2
print("Area of circle is",area_of_circle)

enter radius: 3
Area of circle is 28.274333882308138

In [2]:
_name=input("enter name: ")
roll_number=int(input("enter roll number: "))
_mark=int(input("enter mark: "))
print("Name:",_name)
print("Roll number:",roll_number)
print("Mark:",_mark)

enter name: anisha
enter roll number: 21
enter mark: 78
Name: anisha
Roll number: 21
Mark: 78

In [3]:
A=[12,3,47,10]
max(A)

47

In [4]:
previous_num=0
for i in range(1,11):
    _sum=previous_num+i
    print("current num",i,"previous num",previous_num,"sum: ",_sum)
    previous_num=i

current num 1 previous num 0 sum:  1
current num 2 previous num 1 sum:  3
current num 3 previous num 2 sum:  5
current num 4 previous num 3 sum:  7
current num 5 previous num 4 sum:  9
current num 6 previous num 5 sum:  11
current num 7 previous num 6 sum:  13
current num 8 previous num 7 sum:  15
current num 9 previous num 8 sum:  17
current num 10 previous num 9 sum:  19

In [5]:
num_list=input("enter number: ").split()
for num in num_list:
    num=int(num)
    if num % 5==0:
        print(num)

enter number: 10 20 33 46 55
10
20
55

In [7]:
num=int(input("enter any num: "))
if num>1:
    for i in range(2,num):
        if (num%i)==0:
            print(num,"is not prime")
            break
    else:
        print(num,"is prime")
else:
    print(num,"is not prime")

enter any num: 7
7 is prime

In [8]:
num=int(input("enter any num"))
if num>1:
    for i in range(2,num):
        if (num%i)==0:
            print(num,"is not prime")
            break
    else:
        print(num,"is prime")
else:
    print(num,"is not prime")

enter any num6
6 is not prime

In [9]:
given_list=[10,40,30,70]
print("input list: ",given_list)
given_list.reverse()
print("output=reversed input list: ",given_list)

input list:  [10, 40, 30, 70]
output=reversed input list:  [70, 30, 40, 10]

In [10]:
for i in range(1,5):
    print("*" * i)

*
**
***
****

In [11]:
S=[34,12,17]
max(S)

34

In [12]:
num_rows=5
for i in range(1,num_rows+1):
    print('*'*i)

for i in range(num_rows-1,0,-1):
    print('*'*i)

*
**
***
****
*****
****
***
**
*